# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
.env/
.venv/
venv/
Pipfile
Pipfile.lock
poetry.lock

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs
logs/
*.log

# Streamlit Cache
.streamlit/

# VS Code
.vscode/
.settings/

# Git
.git/
*.swp

# Other
*.bak
*.tmp
